@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Caveat:wght@700&family=Exo+2:ital,wght@1,100&family=Inter:wght@100;500;800&family=Noto+Serif:ital,wght@0,500;1,700&family=Nova+Square&family=Poppins:ital,wght@1,200;1,400&family=Protest+Riot&family=Raleway:wght@200&family=Roboto:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
  
}

html{
    scroll-behavior: smooth;
}

.container-fluid{
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
   
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }


/* gap */

.gap{
    margin-top: 2rem;
}


/* res nav */

.nav_two{
    visibility: hidden;
}

.menu{
    visibility: hidden;
}


.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #030303;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

/* nav*/

section{
    width: 100%;
background-size: cover;
background-position: center;

}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
   /* background-color: rgb(34, 34, 34);*/
   background: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo{
    font-size: 25px;
    
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    
}

section nav .logo span{
    color:  #808080;
    text-decoration: underline;
}

section nav ul{
    list-style: none;

}

section nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #59389b;
    transition: 0.1s;
    
    
}

section nav ul li .sub-menu{
    position: absolute; /*which is relative to an order list*/
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    top: 60px;
    padding: 25px 15px;
    display: flex; /*align the image side by side*/
    justify-content: space-around; /*to create the dspace between images*/
    line-height: 24px;
    visibility: hidden;
    z-index: 99999;
    color: white;
}


.men_sub{
   text-align: center;
   margin-left: 2rem;
}


.men_sub h2{
   margin-left: 10px;
    font-size: 18px;
    color: black;
    text-decoration: none;
cursor: pointer;
}


.men_sub a{
   display: block;
   color: rgb(0, 0, 0);
   text-decoration: none;
   margin: 10px 0;
   font-size: 15px;
   cursor: pointer;
}


.men_sub_pic{

    width: 50%;
    display: block;
}
section nav ul li .sub-menu #men_img{
display: block;
width: 20vw;
height: 40vh;
margin-left: 16rem;
}
.icons{
  position: absolute;
  left: 110%;
}

/* section nav ul li:hover{
    background-color: white;
    cursor: pointer;

} */

section nav ul li:hover .sub-menu{
    visibility: visible;
   
}


section nav ul li a:hover{
    color:  #000000;
    text-decoration: underline;
}


#butn{
    text-decoration: none;
    position: absolute;
    margin-top: -10%;
    margin-left: 70% !important;
    width: 10vh !important;
}


.icons{
   position: relative;
   right: -2%;
}

section nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition:0.2s;
    color: rgb(0, 0, 0);

}

section nav .icons i:hover{
   color:  #c72092 ;
}


section .main .main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}






/* banner */

#banner_btn{
    position: absolute;
    left: 90px;
    top: 74%;
    padding: 10px 20px;
    border-radius: 30px;
   color: white;
   background-color: #59389b;

    box-shadow:0 0 4px #616161;
}

#banner_btn a{
    text-decoration: none;
    color: white;
    cursor: pointer;

}


#banner_btn i{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}

#banner_btn i:hover {
    transform: translateX(6px);
}


#banner_btn_2{
    position: absolute;
    left: 57.5rem;
    top: 19.5rem;
    padding: 10px 20px;
    
  
   background-color: #ffffff;

    box-shadow:0 0 4px #616161;
}


#banner_btn_2  a{
    text-decoration: none;
    color: #a58078;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

#banner_btn_2  i{
    color:  #a58078;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 20px;
   
}

#banner_btn_2 i:hover{
    transform: translateX(6px);
}

#banner_btn_3{
    position: absolute;
    left: 90px;
    top: 70%;
    padding: 10px 20px;
    border-radius: 30px;
    color: #dd2023;
   background-color: white;

    box-shadow:0 0 4px #616161;
}

#banner_btn_3 a{
    text-decoration: none;
   color: #dd2023;

    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}


#banner_btn_3  i{
    color: #dd2023;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 20px;
}

#banner_btn_3 i:hover{
    transform: translateX(6px);
}

/* 2nd section cards*/


.products{
   
    padding: 25px 0;
    position: relative;

}

.products h1{
    
   
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background:black;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}

.products h1 span{
    background: linear-gradient(to right, #c72092 , #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
    
}


.box{
    margin-left: 0.8rem;
}

 .box_card{
    
    width: 16rem;
    height: 24rem;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
    background: white;
    box-sizing: border-box;
    border: 0.5px solid #6c14d0;
}
 .box .box_card:hover{
    box-shadow: 0 0 6px #6c14d0;
    transition: 0.2s;
    cursor: pointer;
}
 .small_card{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 20px 10px;
    
   
}

.small_card:hover{
    transform: translateX(2px);
    opacity: 1;
    cursor: pointer;
}

.box .box_card.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .box .box_card .image img{
    width: 200px;
    margin: 15px 0;
    transition: 0.3s;
    cursor: pointer;

}


.box .box_card .image img:hover{
    transform: rotate(-30deg);
   
}


.small_card i{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
   
    line-height: 40px;
   
    transition: 0.2s;
}



.small_card i:hover{
    color: #c72092;
    cursor: pointer;
}

 .box .card  h2{
    font-size: 30px;
    margin-top: 15px;
}

 .box .box_card p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 0;
}

 .box.box_card .products-text h3{
    margin: 7px 0;
}

 .box .box_card .products-star{
    color: orange;
    margin-bottom: 19px;
    cursor: pointer;
}



 .box .box_card  .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    color: white;
}

.box .box_card .btn:hover{
    border: 2px solid transparent;
    box-shadow: 0 0 2px #c72092;
    color: rgb(0, 0, 0);
    background: rgb(240, 239, 239);
}


.scroll_clr{
    color: #000000;
}



/* 3rd section choose us*/


.choose h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.choose h1 span{
    margin-left: 15px;
    background: linear-gradient(to left, #c72092 , #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.choose p{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    
}

.choose_cards{
   
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.choose_box{
    width: 24%;
    margin-left: 3rem;
    position: absolute;
   align-items: center;
}

 .choose_box img{
    
    position: absolute;
   margin-left: 1rem;
    cursor: pointer;
   
    
}
.choose_box h3{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.choose_gap{
    margin-top: 6rem ;
}



/* 3rd section gallery*/

.gallery_gap{
    margin-top: 10rem;
}

.gallery_mein{
    position: relative;
    display: flex;
   
    padding:0 10px;
    cursor: pointer;
 
}

 
 .gallery_images:hover{
    cursor: pointer;
    -webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}


.gallery_images{
    display: block;
    width: 100%;
    transition: 1s ease;
 
   
    }
    

    .gallery_text{
        display: block;
    width: 100%;
   
      
    }
.gallery {
        display: flex;
        float: left;
        width: 32.33%;
       height: 40vh;
        margin-left: 10px;
margin-top: 10px;

      }

      .gallery_middle{
        display: flex;
        float: left;
        width: 32.33%;
       height: 60vh;
        margin-left: 10px;
margin-top: 10px;
      }
      
.background-gallery{
        background-color: white;
        overflow: hidden;

    }




  

 .gallery_btn{
    color:rgb(255, 255, 255) ;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 40%;
    transition: 0.3s;
    letter-spacing: 2px;
    cursor: pointer;
 }


 .gallery_btn:hover{
    color: black;
    background-color: white;
    border:2px solid black;
    
}
 

 /* 4th section card*/


 .cards_gap{
    margin: 4rem 0;
 }
 .cards{
   
   
    display: flex;
    
   
    position: relative;
    
}

.cards_box{
    width: 50%;
        display: flex;
}

.crd_img{
    display: block;
    width: 100%;
}

.cards_box_2{
    width: 48%;
    position: absolute;
top: 2rem;
  margin-left: 36rem;
    
    display: flex;
    align-items: center;
}



 .card-text h1{
font-size: 35px;
color: black;
text-align: justify;

} 

 .card-text p{
    font-size: 16px;
    color: black;
    text-align: justify;
    
    margin-top: 28px;
}
 .card-icon{
   display: flex;
position: absolute;
margin-top: 19rem;
align-items: center;

}

 .card-icon img{
    width: 10%;

}
 .card-icon p{
    font-size: 16px;
   padding: 8px;

}


/* 5th section services*/

.service_gap{
    margin-bottom: 4rem;
}


.services_card_gap{
    margin-top: 2rem;
}
.services{
    
  
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.services h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 2rem;
}

.services h1 span{
    margin-left: 15px;
    background: linear-gradient(to left, #c72092 , #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}


 .services_cards{
   
    display: flex;
    justify-content: center;
    justify-content: space-between;
   
}

.services_box{
    width: 33.33%;
    padding-bottom: 30px;
    position: absolute;
   
   text-align: center;
}

 .services_box i{
    font-size: 60px;
   justify-content: center;
   
    cursor: pointer;
    align-items: center;
   
}

 .services_box h3{
   position: relative;
    font-size: 19px;
}





/*Footer*/


.footer_gap{
    
    margin-top: 12rem;
}

footer{
    
    margin: 0 auto;
    text-align: center;
    position: relative;
}


footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
   
   
}


footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 10px 10px;
    color: #1c0080;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 15px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}


footer .footer_main .tag .search_bar button:hover{
    border: 2px solid transparent;
    box-shadow: 0 0 4px #c72092;
    color: rgb(0, 0, 0);
    background: rgb(240, 239, 239);
}


/*try navbar*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;

  background: #f1ebeb;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 70px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  left:-30%;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .logo a img{
    left: 33% !important;
    top: 10% !important;
    position: absolute;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #2732cf;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #ffffff;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #0567fa;
  padding: 25px 20px;
  display: flex;
  position: absolute;
  width: 100%;
  left: 31% !important;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #000000;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
.tryy{
top:16%;
left: 100%;
width: 13% !important;
position: absolute;
}

@media screen and (max-width: 767px) and (min-width:576px) 
{
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: relative;
    height: 100vh;
    width: 50vh;
    top: 0;
    left: -15% !important;
    background: #ffffff;
    display: block;
    padding: 10px 10px;
    line-height: 30px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
   display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
    margin-left: 57%;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #0180ff;
    width: 80%;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    margin-left: -30%;
    margin-top: 65%;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
  .tryy
{
  position: relative;
  width: 70% !important;
  left: 5% !important;
  top:6%;
}
#butn{
  position: absolute;
  left: -60% !important;
  top: 36%;
  width: 89px !important;
  font-size: 15px;
}

}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}




/* responsive */



    /* Deaktop*/
    @media screen and (max-width:1197px) and (min-width:997px)
    {

        .container{width:940px;}   
        .col-dm-1{width: 8.33%;}
        .col-dm-2{width: 16.66%;}
        .col-dm-3{width: 25%;}
        .col-dm-4{width: 33.33%;}
        .col-dm-5{width: 41.66%;}
        .col-dm-6{width: 50%;}
        .col-dm-7{width: 58.33%;}
        .col-dm-8{width: 66.66%;}
        .col-dm-9{width: 75%;}
        .col-dm-10{width: 83.33%;}
        .col-dm-11{width: 91.66%;}
        .col-dm-12{width: 100% !important;}
    



       

/* 3rd section gallery */


.gallery {
    display: flex;
    float: left;
    width: 32.33%;
    height: 48vh;
    margin-left: 10px;
    margin-top: 10px;
}



.gallery_middle {
    display: flex;
    float: left;
    width: 32.33%;
    height: 76vh;
    margin-left: 10px;
    margin-top: 10px;
}



.gallery_btn {
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    position: relative;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 40%;
    transition: 0.3s;
    letter-spacing: 2px;
    cursor: pointer;
}


/* 4th section */


.cards_box_2 {
    width: 48%;
    position: absolute;
    top: 1rem;
    margin-left: 31rem;
    display: flex;
    align-items: center;
}

.card-text p {
    font-size: 16px;
    color: black;
    text-align: justify;
    margin-top: 21px;
}

.card-icon {
    display: flex;
    position: absolute;
    margin-top: 18rem;
    align-items: center;
}

    }


    @media screen and (max-width:767px) and (min-width:576px) 
    {
        .container{width:540px;}   
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.6%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.3%;}
    .col-sm-8{width: 66.6%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-mm-12{width: 100% !important;}

    section{
        visibility: hidden;
    }



    /* res nav */
    

    section{
        width: 100%;
       
    
    background-size: cover;
    background-position: center;
    
    }
    .nav_two{
        visibility: visible;
        position: relative;
        height: auto;
        background-color: white;
        position: fixed;
        display: flex;

        
    }
    .menu-button-container {
        display: flex;

       
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        visibility: visible;
        

      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }


    
.box{
    display: flex;
}

    }
    
    





@media screen and (max-width:575px) and (min-width:300px) 
{
    .container{width:100%;}
    [class*=col-]{width: 100% !important;}
}



